<mat-toolbar>
    <span>Inventario</span>
    <span class="spacer"></span>
    Nuevo Item
    <button mat-icon-button (click)='openDialog($event)'>
        <i class="material-icons">note_add</i>
    </button>

    <button mat-button [matMenuTriggerFor]="menu" xPosition='after'>
        Menu
        <i class="material-icons">menu</i>
    </button>

    <mat-menu #menu="matMenu">
        <button mat-menu-item>Salir</button>
    </mat-menu>
</mat-toolbar>

<div>
    <app-item-list (edited)="edit($event)" (delete)="delete($event)"> </app-item-list>
</div>