
    <mat-toolbar>Inventario</mat-toolbar>
    <div fxLayout="row">
        <div fxFlex>
                {{'Productos'}}
            <app-item-list></app-item-list>
        </div>
        <div fxFlex>
                {{'Detalles'}}    
            <router-outlet></router-outlet>
        </div>
        <div fxFlex>
                {{'Estado'}}    
            <router-outlet></router-outlet>
            
        </div>
        <div fxFlex>
                {{'Opciones'}}    
            <router-outlet></router-outlet>
            <button mat-icon-button><mat-icon>create</mat-icon></button>
            <button mat-icon-button><mat-icon>delete</mat-icon></button>
        </div>
        

    </div>